.generate-password-container {
    display: flex;
    align-items: center;
    height: 900px;
    justify-content: center;
}

.container-components {
    background-color: rgb(160, 229, 247);
    border-radius: 16px;
    height: 500px;
    width: 500px;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.title-components {
    font-family: sans-serif;
    color: rgb(3, 3, 3);
    border-radius: 16px;
    padding: 6px;
}

.result-components {
    width: 200px;
    height: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(153, 151, 151);
    border-radius: 16px;
}